<h3>
    Flexible Costs
</h3>
<div ng-controller="FlexiblecostsController">
    <div class="container-fluid">
        <div class="row">
            <div class="panel">
                <div class="panel-heading">
                    <h4>List of Flexible Costs</h4>
                    <button class="pull-right btn btn-primary">Add</button>
                </div>
                <div class="panel-body">
                    <table class="table table responsive">
                        <tr>
                            <th>SNo.</th>
                            <th>Name of Cost</th>
                            <th>Amount</th>
                            <th>Edit</th>
                        </tr>
                        <tr ng-repeat="t in list">
                            <td>{{$index+1}}</td>
                            <td>{{t.name}}</td>
                            <td>{{t.amount}}</td>
                            <td>
                                <button class="btn btn-warning" value="Edit" ng-click="edit(t)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>
                                <button class="btn btn-danger" value="Delete"><i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>